@model SMGTechnicalTestMVC.Models.Game

@{
    ViewData["Title"] = "App Page";
}

<form method="post" asp-action="App">
    <div class="container">
        <h2 class="text-black-50 text-center mt-1">Welcome to Rock, Paper or Scissors game!</h2>
        <br />
        <h6 class="text-center">Type in your selection below and click on submit, the game information is automatically stored in the database. You can also view the game history.</h6>
        <hr />

        <br />
        <div class="row">
            <div class="col">
                <img src="/img/rock.png"/>
            </div>
            <div class="col">
                <img src="/img/paper.png" width="300" height="300" />
            </div>
            <div class="col">
                <img src="/img/scissors.png" />
            </div>
        </div>
        <hr />
        <h5 class="text-center">Please type in your selection below:</h5>
        <div class="row">
            <div class="col-12 text-center">
                <input type="text" style="width: min-content" asp-for="@Model.PlayerChoice" />

            </div>
            <br />
            <div class="col-12 text-center">
                <button type="submit" class="mt-2 btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
<hr />
<!--Container to show game results here-->
<div class="container mt-0 mb-0">
    @if (Model.GameResult.Count() > 0)
    {
        <table class="table table-striped" id="resultTable">
            <thead>
                <tr>
                    <th>Player chose</th>
                    <th>Computer chose</th>
                    <th>Game result</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="30%">@Model.PlayerChoice</td>
                    <td width="30%">@Model.ComputerChoice</td>
                    <td width="40%">@Model.GameResult</td>
                </tr>
            </tbody>
        </table>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-primary" asp-controller="Home" asp-action="App">Play again</a>
                </div>
                <div class="col text-center">
                    <a class="btn btn-secondary" asp-controller="Game" asp-action="Index">View game history</a>
                </div>
            </div>
        </div>
       
    }

</div>